*{
  margin: 0;
  padding: 0;
}

nav{
  padding: 1rem;
  background-color: lightpink;
  color: purple;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}



nav a{
  text-decoration: none;
  color: purple;
}

nav a:hover{
  text-decoration: underline;
}




h1 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
  color: purple;
}

h2 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
  color: purple;
}
.contact-section{
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
 
  border-radius: 10px;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  

  
}
ul li a{
  text-decoration: none;
  color: purple;
  font-size: 20px;
 
 
  
}
li{
  list-style-type: none;
  padding: 10px;
  margin: 10px;
}

body{
  height: 100%;
  width: 100%;
  font-size: 15px;
font-family: 'Architects Daughter', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Wix Madefor Display', sans-serif;
font-weight: lighter;

}
header img{
  border-radius: 75px;
}
header h1, h3{
  color: purple;
  text-align: center;
  
  font-weight: bold;
}
footer{
  background-color:lightpink;
}

header, footer {
 
  padding: 20px;
  text-align: center;
}
.socials{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-top: 30px;
}
.socials .fa-instagram:hover{
transform: scale(1.2);
transition: all 0.3s ease-in-out;
color: white;
}
.socials .fa-whatsapp:hover{
transform: scale(1.2);
transition: all 0.3s ease-in-out;
color: white;
}
.socials a{
text-decoration: none;
color: purple;
font-weight: bold;
}
footer p{
color: purple;
}
p{
  font-size: 20px;
  font-weight: lighter;
  color: purple;
}

/* Table styles */
.container {
  max-width: 600px;
  margin: 0 auto;
}
caption{
  color: purple;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 1.2rem;
  color: purple;
}
.containerr {
max-width: 500px;
margin: 0 auto;
font-size: 1.2rem;
padding: 20px;
border-radius: 5px;
margin-top: 20px;
background-color: rgb(243, 230, 232);
transition: transform 0.3s, opacity 0.3s;
margin-bottom: 50px;


}
.container p {
  margin-bottom: 10px;
  line-height: 1.5;
  
  
  }
  .container-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-template-rows: repeat(2, auto); /* 2 rows */
    grid-gap: 20px; /* Adjust the gap between items as needed */

 


  
  }
  .container-items{
    text-align: center;
  }

.container-img img{
  width: 50%;
  max-width: 50%;
  height: auto;;
}

 img{
width: 300px;
height: 300px;
object-fit: cover;



}

@media screen and (max-width: 500px) {
  .navbar.open {
    nav {
      display: block; /* Show the navigation menu */
    }
    .menu-icon {
      display: none; /* Hide the menu icon */
    }
  }
}



